fastapi
uvicorn
python-multipart
python-dotenv
numpy
faiss-cpu
sentence-transformers
rank-bm25
google-genai
pydantic
email-validator
sqlalchemy
psycopg2-binary
boto3
PyMuPDF
passlib[bcrypt]
python-jose[cryptography]
