fastapi
uvicorn
sentence-transformers
faiss-cpu
numpy
PyMuPDF
rank-bm25
google-genai
python-dotenv
python-multipart
pydantic
scikit-learn
sqlalchemy
psycopg2-binary
bcrypt==3.2.2
passlib[bcrypt]
python-jose[cryptography]
boto3